---
layout: default
title: Team Members
subtitle: Our volunteers
---

<p>Hypest is comprised of many different team members in different time zones and locations. If you're curious
about these members then you've come to the right place.</p>

<p><em>Note: list is incomplete<em></p>

<h4>Tournament Organisers</h4>

<table>
    <thead>
        <tr>
            <th style="text-align: left">Nickname</th>
            <th style="text-align: left">Name</th>
            <th style="text-align: left">Time Zone</th>
        </tr>
    </thead>
    <tbody>
        {% for member in site.data.members %}
        {% if member.roles contains 'to' %}
        <tr>
            <td>{{ member.nickname }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.timezone }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<h4>Streamers</h4>

<table>
    <thead>
        <tr>
            <th style="text-align: left">Nickname</th>
            <th style="text-align: left">Name</th>
            <th style="text-align: left">Time Zone</th>
        </tr>
    </thead>
    <tbody>
        {% for member in site.data.members %}
        {% if member.roles contains 'streamer' %}
        <tr>
            <td>{{ member.nickname }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.timezone }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<h4>Networkers</h4>

<table>
    <thead>
        <tr>
            <th style="text-align: left">Nickname</th>
            <th style="text-align: left">Name</th>
            <th style="text-align: left">Time Zone</th>
        </tr>
    </thead>
    <tbody>
        {% for member in site.data.members %}
        {% if member.roles contains 'networker' %}
        <tr>
            <td>{{ member.nickname }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.timezone }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
