        <div id="layout">
            <a class="menu-link" href="#menu" id="menuLink"><span></span></a>
            <div id="menu">
                <div class="pure-menu">
                    <a class="pure-menu-heading" href="/index.html">Hypest</a>
                    <!-- <ul class="pure-menu-list">
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="about_us.html">What is Hypest?</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
