<!DOCTYPE html>
<html>
    <head>
        {% include metadata.html %}
        {% if page.title %}
        <title>Hypest &ndash; {{ page.title }}</title>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <div id="layout">
                {% include navbar.html %}
                 <div class="post">
                    <header>
                        {% if page.title %}
                        <h1 class="post-title">{{ page.title }}</h1>
                        {% endif %}
                        {% if page.author %}
                        <p class="post-meta">By <span class="post-author">{{ page.author }}</span>
                        {% if page.category %}
                        under <span class="post-category">{{ page.category }}</span>
                        {% endif %}
                        </p>
                        {% endif %}
                    </header>
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
        <script src="/js/ui.js"></script>
    </body>
</html>
